# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.venv
node_modules
dist
dist-ssr
*.local
Hasil.png
src/server/__pycache__
faceswap.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/template.jpg
src/assets/men/
src/assets/women/
src/server/user_table.csv
public/hasil.png
venv
user_table.csv
faceswap.db
.venv