<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face Swap Web App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <nav
        class="fixed top-0 left-0 right-0 flex items-center justify-between w-4/5 mx-auto p-4 border-b border-black/10 bg-white z-50"
      >
        <h1 class="font-bold text-xl uppercase tracking-widest">
          Face Swap AI
        </h1>
        <ul>
          <li><a href="/" class="font-medium">User</a></li>
        </ul>
      </nav>

      <!-- Template selection -->
      <div class="lg:p-20" id="templateSelection">
        <div
          class="relative pt-[5vh] pb-[1vh] flex items-center justify-center gap-x-10 mx-auto z-10"
          id="templateOptions"
        >
          <div class="absolute">
            <h1
              class="m-auto uppercase text-[8rem] font-bold text-center tracking-wide overflow-hidden text-[#6D7A83]"
            >
              select <br />
              template
            </h1>
          </div>
        </div>
      </div>

      <!-- Template preview -->
      <div
        class="flex flex-col items-center justify-center"
        id="templatePreview"
      >
        <h2 class="font-bold text-xl uppercase tracking-widest">
          Template selected:
        </h2>
        <img id="previewImage" src="" alt="" class="w-[30vw]" />
      </div>

      <!-- Source image selection -->

      <div
        class="flex flex-col justify-center items-center gap-y-5"
        id="sourceSelection"
      >
        <h1 class="font-bold text-xl uppercase tracking-widest">
          Source Image
        </h1>
        <div
          class="file-input-wrapper relative w-[40vw] h-[30vh] border border-black flex items-center justify-center cursor-pointer"
        >
          <input
            type="file"
            id="sourceFile"
            accept="image/*"
            class="absolute inset-0 w-full h-full opacity-0 cursor-pointer"
          />
          <span
            class="absolute inset-0 flex items-center justify-center font-medium pointer-events-none"
          >
            Click to upload an image
          </span>
        </div>
        <div class="hidden">
          <button id="startWebcam">Start Webcam</button>
          <button id="captureImage" disabled>Capture Image</button>
        </div>
      </div>

      <!-- Webcam live view and capture preview -->
      <div id="webcamView" class="hidden">
        <video id="webcam" autoplay playsinline style="display: none"></video>
        <canvas id="captureCanvas" style="display: none"></canvas>
      </div>

      <!-- Swap face and reset buttons -->
      <div
        id="actionButtons"
        class="flex items-center justify-center gap-4 mt-4"
      >
        <button
          class="py-2 px-4 border border-[#1B1B1B] rounded-sm text-[#1B1B1B] w-[10vw]"
          id="resetButton"
        >
          Reset
        </button>
        <button
          class="py-2 px-4 bg-[#1B1B1B] rounded-sm text-white w-[10vw]"
          id="processButton"
          disabled
        >
          Process
        </button>
      </div>

      <!-- Result image -->
      <div
        id="resultFrame"
        class="flex flex-col justify-center items-center mt-4"
      >
        <h1 class="font-bold text-xl uppercase tracking-widest">Result</h1>
        <img id="resultImage" src="" alt="Face swap result" class="w-[30vw]" />
      </div>

      <!-- Progress indicator -->
      <div class="" id="progressBar">
        <div id="progressFill"></div>
      </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
