@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: url("assets/ui/bg.png"); 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar in Firefox */
}
